
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()" class="nav-link" href="#" routerLink="homepage">Login</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" href="#" (click)="goBack()">Go Back<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" href="#" routerLink="allplannings">Manage all plannings</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" href="#" routerLink="allpersons">Manage all persons</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" href="#" routerLink="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>



