<div class="title">Welcome Monsieur M</div>

<tbody>
<td>
    <div class="btn btn-primary" (click)="goBack()">
        Go back
    </div>
</td>
<td>
    <a  routerLink="/allplannings">
        <div class="btn btn-primary">
            Manage all plannings
        </div>
    </a>
</td>
<td>
    <a routerLink="/allpersons">
        <div class="btn btn-primary">
            Manage persons
        </div>
    </a>
</td>
<td>
    <div class="btn btn-primary">
        Manage student classes
    </div>
</td>
</tbody>

