<div class="container p-2">
  <div class="row mt-4 text-center ">
    <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Previous
      </div>
      <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </div>
      <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Next
      </div>
    </div>
  </div>
    <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
    <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-10 offset-1">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [dayStartHour]="8"
          [dayEndHour]="18"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [dayStartHour]="8"
          [dayEndHour]="18"
        >
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>

  <div class="row mt-4 text-center">
      <form style="width: 100%">
        <div class="table-responsive">
          <h1 class="h3 mb-3 font-weight-normal">Add an event</h1>
          <table class="table table-bordered">
          <thead>
          <tr>
            <th>Title</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Add</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <label for="inputNameIndispo" class="sr-only">Lesson</label>
              <input #eventToAddNameIndispo id="inputNameIndispo" class="form-control text-center" placeholder="Lesson" required autofocus>
            </td>
            <td>
              <label for="inputStart" class="sr-only">Start time</label>
              <input #eventToAddStart type="datetime-local" id="inputStart" class="form-control text-center" required autofocus>
            </td>
            <td>
              <label for="inputEnd" class="sr-only">End time</label>
              <input #eventToAddEnd type="datetime-local" id="inputEnd" class="form-control text-center" required autofocus>
            </td>
            <td>
              <div class="btn btn-primary" (click)="addEvent(eventToAddNameIndispo.value, eventToAddStart.value, eventToAddEnd.value); eventToAddNameIndispo.value=''; eventToAddStart.value=''; eventToAddEnd.value=''">
                &nbsp;&nbsp;Add&nbsp;&nbsp;
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      </form>
  </div>

  <div class="row mt-4 text-center">
    <div class="table-responsive">
      <h1 class="h3 mb-3 font-weight-normal">Manage an existing event</h1>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Title</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input #eventToEditNameIndispo type="text" class="form-control" [(ngModel)]="event.title"/>
          </td>
          <td>
            <input #eventToEditStart class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" dateFormat="Y-m-dTH:i"/>
          </td>
          <td>
            <input #eventToEditEnd class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" dateFormat="Y-m-dTH:i"/>
          </td>
          <td>
            <div class="btn btn-primary" (click)="editEvent(event.id, eventToEditNameIndispo.value, eventToEditStart.value, eventToEditEnd.value); eventToEditNameIndispo.value=event.title; eventToEditStart.value=event.start.toString(); eventToEditEnd.value=event.end.toString()">
              Save
            </div>
          </td>
          <td>
            <div class="btn btn-primary" (click)="deleteEvent(event)">
              Delete
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
